@import 'common';
@import 'libs';

.wrapper {
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
}

.header, .footer {
    flex-shrink: 0;
}

.container {
    max-width: 1100px;
    margin: auto;
    padding: 0 15px;

}

section {
    padding: 50px 0;
}

.header {
    background-color: #F8F6F7;
    background-image: url('/img/bg.png');
    overflow: hidden;

    &-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 0;
    }
}

.header .container {
    position: relative;
}

.logo {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #333333;
    text-decoration: none;
}

.navigation__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navigation__item:not(:last-child) {
    margin-right: 28px;
}

.navigation__item a {
    text-decoration: none;
    color: #333333;
    font-size: 14px;
    font-weight: 500;
    transition: 0.15px color;
}

.navigation__item:hover { 
    color: #00BF78;
}

.tel {
    display: flex;
    flex-direction: column;
    padding-top: 34px;
}

.tel > a {
    text-decoration: none;
    color: #333333;
    font-weight: 500;
    font-size: 18px;
}

.tel > p {
    font-weight: 400;
    font-size: 11px;
}

/*burger*/

#checkbox_toggle {
    display: none;
}

.hamburger {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

.humburger-line {
    background-color: #333333;
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
}

.humburger-line::before,
.humburger-line::after {
    background-color: #333333;
    content: '';
    display: block;
    position: absolute;
    transition: all 0.3s;
    width: 100%;
    height: 100%;
}

.humburger-line::before {
    top: 7px;
}

.humburger-line::after {
    top: -7px;
}

.header-hero {
    max-width: 540px;
    padding-top: 90px;
    padding-bottom: 130px;
}

.header-hero h1 {
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    margin-bottom: 0;
    padding-bottom: 17px;
}

.header-hero p {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin: 0;
    padding-bottom: 59px;
}

.btn {
    padding: 10px 20px;
    background: #FB9475;
    border-radius: 24px;
    border-width: 0;
    color: #FFFFFF;
    font-size: 12px;
    cursor: pointer;
}

.btn__large {
    font-weight: 500;
    padding: 17px 30px;
    font-size: 14px;
   }

.header-girl {
    width: 524px;
    height: 510px;
    position: absolute;
    bottom: 0;
    right: 80px;
}

.header-girl:after {
    content: '';
    background: url('/img/makiiazh-devushka-litso-ruka-pricheska-volosy-golubye-glaza\ 1.png');
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    z-index: 2;
}

.header-girl:before {
    content: '';
    width: 472px;
    height: 472px;
    background-color: #FB9475;
    position: absolute;
    bottom: -110px;
    right: 0;
    border-radius: 50%;
    z-index: 1;
}

.header__social {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style: none;
    align-items: flex-end;
    padding-top: 120px;
}

.social__link {
    text-decoration: none;
    justify-content: center;
}  

.social__item {
    padding-bottom: 16px;
}


/*MAIN*/
main {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1 1 auto;
}

.main .container {
    position: relative;
}


.section-inner {
    max-width: 540px;
}

.section__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    margin: 0;
    padding-bottom: 32px;
}

.section-inner .p1 {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
}

.section-inner .p2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.video {
    width: 445px;
    height: 296px;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    margin-top: 130px;
}

.video::before {
    content: '';
    position: absolute;
    background-color: rgba(0,0,0,.2);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.video::after {
    content: 'Короткое видео о нас';
    padding-top: 66px;
    font-style: 16px;
    font-weight: 600;
    color: #FFFFFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(/img/iconPlay.svg) no-repeat center top;
}

.salon-about {
    display: flex;
    justify-content: space-between;
    column-gap: 90px;
}

/*Плюсы*/

.pluse {
padding: 100px 0;

&-row {
    display: flex;
    column-gap: 30px;
    }

    &-card {
        text-align: center; 
    
        & p {
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
        }
    
    }

    &-img {
        margin-bottom: 28px;
    }
}

.service__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}


/*Популярные услуги*/

.services {
    margin-top: -40px;
}

.services > div {
    margin-top: 40px;
}

.service__picture {
    height: 180px;
    max-width: 350px;
    overflow: hidden;
    border-radius: 8px;
    }
    
.service__img {
    height: 100%;
    width: auto;
}

.service__descr {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
}

/*Услуги и стоимость*/

.navigation__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: flex-start;
}

.navigation__item:not(:last-child) {
    margin-right: 28px;
}


.navigation__item a {
    text-decoration: none;
    color: #333333;
    font-size: 14px;
    font-weight: 500;
    transition: 0.15px color;
}

.navigation__item a:hover { 
    color: #00BF78;
}


.navigation__item:active { 
    color: #00BF78;
    text-decoration: underline;
}

.uslst__nav {
    padding-bottom: 47px;
}

.price__colrow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 32px;
}

.price_title {
    font-weight: 500;
    font-size: 18px;
    margin: 0;
    padding-bottom: 8px;
}


.price_text {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin: 0;
}

.st {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: right;
    color: #00BF78;
    margin-top: 0;
}

/*Мастера*/

p.masters-p {
    padding-bottom: 24px;
    margin: 0;
}

.masters__descr{
    margin: 0;
    padding-bottom: 20px;
}

.masters__text {
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;   
    text-transform: uppercase;
}

.section--grey {
    background-color: #F8F6F7;
    padding-top: 80px;
    padding-bottom: 80px;
}

h4.service__title {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 8px;
}

/*Наши работы*/

.portfolio_section {
    padding-top: 100px;
    padding-bottom: 100px;
}

.portfolio-title {
    display: flex;
    justify-content: space-between;
}

.portfolio_picture {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    column-gap: 30px;
    
}

.portfolio_img {
    width: 338px;
    height: 338px;
}

.btn_action {
    text-align: end;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    z-index: 2;
} 

.btn_action:hover {
    position: absolute;
    width: 40px;
    height: 40px;
    background: #4b102d;
    border-radius: 50%;
    left: 56px;
    top: 0px;
    z-index: 1;
}

/*Бренд*/

.section__innerBrend {
padding-top: 100px;
}

.portfolio_brend {
    padding-bottom: 40px;

    &__icon {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 40pxn;
        
    }

    &__text {
        text-align: center;
        font-weight: 400;
        font-size: 16px;
        margin: 0;
        }

    &__img {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap; 
            
    }
}


/*Контакты*/

.contacts_section {
    padding-top: 40px;
    padding-bottom: 40px;
}

.contacts_info {
    margin: 0;
    padding-bottom: 32px;

    &__text {
        margin: 0;
        padding-bottom: 20px;
    }

    &__tel {
        margin: 0;
        padding-bottom: 20px;
    
        & a {
            text-decoration: none;
            color: #333333;
            margin: 0;
            
        } 
    }

    &__email {
        margin: 0;
    
        & a {
            text-decoration-line: underline;
            color: #278AFF;
            margin: 0;
        }
    }
}

.contacts_social_text {
    margin: 0;
    padding-bottom: 12px;
}

.vertical__social {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    column-gap: 24px;
    margin: 0;

    & li.social__item {
    padding: 0;
    
    }
}

div.contacts_social {
    margin: 0;
    & p {
        font-weight: 400;
        font-size: 12px;
    }
}

.form {
    width: 375px;
    height: 326px;
    
}

.form_title{
    font-weight: 600;
    font-size: 18px;
    margin: 0;
    padding-bottom: 15px;
}

.form_text {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    padding-bottom: 35px;
}

.form_section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    padding-bottom: 16px;
    gap: 20px;
}

.form-input {
    width: 375px;
    height: 44px;
    border: 1px solid #D8D8D8;
    border-radius: 4px;
    padding: 15px 16px;
}

.btn_large2 {
    font-weight: 500;
    font-size: 14px;
    padding: 17px 30px;
    width: 375px;
    height: 48px;
}

.form_href {
    font-weight: 300;
    font-size: 12px;
    text-decoration-line: underline;
    color: #278AFF;
}

.form {
display: flex;
flex-direction: column;
align-items: center;
padding: 40px 35px;
position: absolute;
width: 445px;
height: 406px;
background: #FFFFFF;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
border-radius: 8px;
}

.col-5 {
    height: 406px;
}

.form_textBottom {
    margin: 0;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
}

/*ФУТЕР*/
footer {
    padding: 20px 165px;
    color: #333333;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    flex: 0 0 auto;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav2 {
    display: flex;
    justify-content: right;
    list-style-type: none;
    padding-left: 0;
}


.nav2 li:not(:last-child){
    margin-right: 28px;
}
    
.nav2 > li > a {
    text-decoration: none;
    color: #333333;
    
}

.footer_info > a {
    text-decoration-line: underline;
    color: #278AFF;
}


@import 'media';